USE [master]
GO
/****** Object:  Database [WMS_Project]    Script Date: 06/23/2026 12:03:11 AM ******/
CREATE DATABASE [WMS_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WMS_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\WMS_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WMS_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\WMS_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WMS_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WMS_Project]
GO
/****** Object:  Table [dbo].[ProductTbl]    Script Date: 06/23/2026 12:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTbl](
	[PId] [int] IDENTITY(1,1) NOT NULL,
	[PSKU] [varchar](50) NOT NULL,
	[PName] [nvarchar](100) NOT NULL,
	[PCategory] [nvarchar](50) NULL,
	[PLocation] [varchar](50) NULL,
	[PStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTbl]    Script Date: 06/23/2026 12:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTbl](
	[TId] [int] IDENTITY(1,1) NOT NULL,
	[TProductId] [int] NOT NULL,
	[TType] [varchar](10) NOT NULL,
	[TQuantity] [int] NOT NULL,
	[TDate] [datetime] NULL,
	[TUser] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTbl]    Script Date: 06/23/2026 12:03:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTbl](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[UserRole] [varchar](20) NOT NULL,
	[IsLocked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductTbl] ON 

INSERT [dbo].[ProductTbl] ([PId], [PSKU], [PName], [PCategory], [PLocation], [PStock]) VALUES (41, N'002', N'Mạch', N'Điện tử', NULL, 400)
INSERT [dbo].[ProductTbl] ([PId], [PSKU], [PName], [PCategory], [PLocation], [PStock]) VALUES (42, N'003', N'Bút Bi Đỏ', N'Gia dụng ', NULL, 400)
INSERT [dbo].[ProductTbl] ([PId], [PSKU], [PName], [PCategory], [PLocation], [PStock]) VALUES (43, N'004', N'Bút Chì', N'Điện tử', NULL, 200)
SET IDENTITY_INSERT [dbo].[ProductTbl] OFF
GO
INSERT [dbo].[UsersTbl] ([Username], [Password], [FullName], [UserRole], [IsLocked]) VALUES (N'admin', N'123456', N'Giám đốc Hệ thống', N'Admin', 0)
INSERT [dbo].[UsersTbl] ([Username], [Password], [FullName], [UserRole], [IsLocked]) VALUES (N'hda1', N'123456', N'Hoàng Đức Anh', N'Admin ', 0)
INSERT [dbo].[UsersTbl] ([Username], [Password], [FullName], [UserRole], [IsLocked]) VALUES (N'sale1', N'123456', N'Trần Thị Bán Hàng', N'Sales', 0)
GO
ALTER TABLE [dbo].[ProductTbl] ADD  DEFAULT ((0)) FOR [PStock]
GO
ALTER TABLE [dbo].[TransactionTbl] ADD  DEFAULT (getdate()) FOR [TDate]
GO
ALTER TABLE [dbo].[UsersTbl] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[TransactionTbl]  WITH CHECK ADD FOREIGN KEY([TProductId])
REFERENCES [dbo].[ProductTbl] ([PId])
GO
USE [master]
GO
